#Home {
    background-image: url(../assets/img/avengers.jpg);
    height: calc(100vh - 70px);
    width: 100%;
    margin-top: 72px;
    background-size: cover;
    background-position: 50% 40%;
    /*
    background-repeat: repeat;
    background-size: 100px;*/
}

#Home:after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
}

#Home h1 {
    visibility: hidden;
}
